#navigation{
  margin-top: 5%;
  margin-bottom: 5%;
}

#navigation a{
  margin-right: 10%;
}

#navigation a:last-child{
  margin-right: 0;
}

.dashboard{
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column; 
}

